<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="row">
      <ul class="navbar navbar-nav">
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create">Create</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/view">View</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<main class="container">
  <section>
    <div class="col">
      <div class="row row-cols-4 g-8" id="journalOutput"></div>
    </div>
  </section>
</main>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Confirm</h3>
        <button class="btn btn-close" id="crossClose" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this entry?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-danger" id="deleteJournal">Delete</button>
      </div>
    </div>
  </div>
</div>
