<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="row">
      <ul class="navbar navbar-nav">
        <div class="col">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create">Create</a>
          </li>
        </div>
        <div class="col">
          <li class="nav-item">
            <a class="nav-link" routerLink="/view">View</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<header>
  <h1>Video Game Journal</h1>
</header>
<main>
  <section id="gettingStarted">
    <p>Welcome to the Video Game Journal app, here to help you track your progress in any game you might be
      playing.</p>
    <p>To get started simply navigate to the Create window.</p>
    <p>Alternatively, find step-by-step instructions <a target="_blank"
                                                        href="https://github.com/Cam-Black/VideoGameJournal/blob/main/README.md">here</a></p>
  </section>
  <figure>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="figure-img rounded" src="../assets/media/images/mwcoverpic.jpg" alt="Modern Warfare">
        </div>
        <div class="col">
          <img class="figure-img rounded" src="../assets/media/images/f12022cover.webp" alt="F1 2022">
        </div>
        <div class="col">
          <img class="figure-img rounded" src="../assets/media/images/ffxivcover.jfif" alt="Shadowbringers">
        </div>
      </div>
    </div>
  </figure>
</main>
